[2015-01-10 04:41] sinhrks opened #7 "COMPAT: Better integration with dplyr::add_rownames()"
Avoid to use `rownames` internally, follow `dplyr` 0.4- manner.

[2015-01-11 11:17] timcdlucas opened #10 "Using themes"
Hi,
Love the package.

Maybe I'm just being stupid but can I use themes like I would in typical ggplot?

I'd hope
autoplot(lm(rnorm(10)~rnorm(10, 2))) +
  theme_bw()

would theme the 4 facets with the black and white theme. This syntax works for autoplot in other cases (e.g. microbenchmark).

[2015-01-11 11:18] sinhrks opened #11 "API: Consider return values for grid.arrange"
There are few plotting functions using `grieExtra::grid.arrange` internally, such as `autoplot.lm`. These function doesn't have return value, thus we cannot decorate it later.

Consider a better way to allow decoration.

[2015-01-11 11:20] timcdlucas commented on #10
Just looking again. I think it's just the facets that are stopping the themes from working. You can theme timeseries plots fine.

[2015-01-11 11:24] sinhrks commented on #10
Thanks for feedback!

I just thought about this. Because `autoplot.lm` internally uses `grid.arrange` to output different types of plots in a single canvas, we cannot use ggplot2 operators once it is drawn (#11).

I'm considering either way. Your suggestion is highly appreciated.

- Add option to return raw `ggplot` instance as `list`. Then, we can perform whatever operation against each `ggplot`

[2015-01-11 13:01] sinhrks commented on #10
Found 3rd option, and I think this is better.

- Create a simple container and make grids behave as the same as single ggplot.

[2015-01-13 13:50] #10 closed

[2015-01-13 13:50] #11 closed

[2015-01-13 13:51] sinhrks commented on #10
I think #12 should work, pls check.

[2015-01-14 23:57] sinhrks opened #13 "DOC: Remove compiled html / png from package"
Modify `.gitignore` to reduce package file size.

[2015-01-15 13:04] sinhrks commented on #13
Closed by 27e9fac3cf4b94f8db004579062f42583b4c36af

[2015-01-15 13:04] #13 closed

[2015-02-04 15:14] sinhrks opened #17 "ENH/CLN: Integration with {broom}"

[2015-02-05 14:07] sinhrks opened #18 "Submit to CRAN"
- [x] Once tag & release current master as v0.0.1
    - https://github.com/sinhrks/ggfortify/releases/tag/v0.0.1
- [x] Revise doc descriptions and formats
- [x] Change `fortify` and `autoplot` argnames to be compat with {ggplot2}
    - [x] Confirm all the current examples work with warning after the change
    - [x] Create test_compat and move previous examples.
    - [x] Change all the examples t

[2015-02-08 20:01] abresler opened #20 "Label Display Only Showing Row Number"
For some reason when I try to plot labels I can't ever  the actual labels even after renaming the rows

[2015-02-09 11:41] #7 closed

[2015-02-09 11:41] #20 closed

[2015-02-09 11:42] sinhrks commented on #20
Thanks for the report. The issue is depending on {dplyr} version, and expected to be fixed in #21. Colud you try confirm?

[2015-02-09 12:11] abresler commented on #20
Will give it a try again in a little.

Wonderful package, thanks for all the work you put into it

--
Alex Bresler

ASBC LLLC
asbcllc.com
917-455-0239

abresler@asbcllc.com
@abresler
On Feb 9, 2015 6:42 AM, "Sinhrks" <notifications@github.com> wrote:

[2015-02-09 15:30] abresler opened #22 "Ability to turn off points in plots to just show text labels"
Maybe good to add a plotting parameter that allows you to turn off points to just show labels in factor plots if there isn't already a way to do this.

[2015-02-11 12:08] sinhrks commented on #22
Thanks for feedback. How about using ``shape`` attribute to control them? I've did very rough implementation in #24, and will continue to work once it looks OK.

- http://sape.inf.usi.ch/quick-reference/ggplot2/shape

To disable points, specify `shape=FALSE`. In this case, ``label`` is automatically turned on unless otherwise specified.
[code]
![rplot01](https://cloud.githubusercontent.com/assets/

[2015-02-11 14:37] abresler commented on #22
Fantastic!

--
Alex Bresler

ASBC LLLC
asbcllc.com
917-455-0239

abresler@asbcllc.com
@abresler
On Feb 11, 2015 7:08 AM, "Sinhrks" <notifications@github.com> wrote:

[2015-02-14 14:47] sinhrks commented on #22
Done in #24. Also updated the docs. Pls check :D

- http://rpubs.com/sinhrks/plot_pca
- http://rpubs.com/sinhrks/plot_lm

[2015-02-14 14:47] #22 closed

[2015-02-14 15:27] sinhrks opened #26 "CLN: Internal cleanups"
- [x] Integrate ts model related classes as much
- [x] Use `geom_factory` in label handling (#31)

[2015-02-14 15:34] sinhrks opened #27 "ENH: Retrieve original data from parent environment"
There are some classes which doesn't hold original data itself, but stores a call signature when the model was created. If `autoplot` can retrieve original data from parent environment, we can omit the explicit `data` keyword.

Some standard function behave like above, but it can be an unexpected result if the original variable has been changed. Thus this behavior should be explicitly turned on by

[2015-03-12 22:20] lalas opened #33 "Feature Request"
Hello,

First and foremost, I would like to thank you and congratulate you on the effort you have put into this project. I was playing with the gglagplot function, when i noticed that it doesn't take a parameters to label the axis (y-axis - now get a "Data" label).

I was wondering if you can edit the list parameters, to accept ... (ellipsis), so that the parameters can be passed to ggplot functio

[2015-03-14 01:23] sinhrks commented on #33
Hi, thank you for your feedback:) Currently, you can:

[code]

![rplot](https://cloud.githubusercontent.com/assets/1696302/6649650/3f3645ca-ca33-11e4-973b-09627b964cbd.png)

Do you expect keywords supported in `qplot` function works, ``main``, ``asp``, ``xlab``, ``ylab``, ``xlim`` and ``ylim``?

[code]

[2015-03-17 13:39] #33 closed

[2015-03-17 13:41] sinhrks commented on #33
I expect this meets your expectations. Pls check:

- http://rpubs.com/sinhrks/basics

[2015-03-17 13:44] sinhrks opened #36 "ENH: Add ggbiplot"
Should have the same interface with ``stats:::biplot.default``.

Then refactor ``autoplot.pca_common``.

[2015-03-17 14:34] lalas commented on #33
Thank you very much.. Your replies made me appreciate the design principles of ggfortify.

Cheers

[2015-03-17 15:56] sinhrks commented on #33
Thanks to confirm. If you want any other options, please lmk :)

[2015-03-17 18:48] lalas commented on #33
Thank you very much! :)

On Tue, Mar 17, 2015 at 11:56 AM, Sinhrks <notifications@github.com> wrote:

--
"Life may not be the party we hoped for, but as long as we are here we
might as well dance."

"A new truth does not triumph by convincing its opponents and making them
see the light, but rather because its opponents eventually die out, and a
new generation grows up that is familiar with it"

"I

[2015-06-18 17:22] richardtc opened #45 "Error on loading ggfortify"
Hi

I'm trying to plot acf outputs with ggplot2, and trying to use ggfortify, but get the error below.

Best,
Richard

Loading required package: scales
Error in unloadNamespace(package) :
  namespace ‘scales’ is imported by ‘ggplot2’ so cannot be unloaded
Error in library(pkg, character.only = TRUE, logical.return = TRUE, lib.loc = lib.loc) :
  Package ‘scales’ version 0.2.4 cannot be unloaded

Us

[2015-06-18 17:39] richardtc commented on #45
Also now get error on loading ggplot2

Error in get(method, envir = home) :
  lazy-load database '/home/rcooper/R/x86_64-pc-linux-gnu-library/3.2/scales/R/scales.rdb' is corrupt
In addition: Warning messages:
1: In .registerS3method(fin[i, 1], fin[i, 2], fin[i, 3], fin[i, 4],  :
  restarting interrupted promise evaluation
2: In get(method, envir = home) :
  restarting interrupted promise evaluatio

[2015-06-18 23:13] richardtc commented on #45
Reinstalled and it appears to work fine.  Very useful package!

[2015-06-19 04:01] sinhrks commented on #45
Thanks for the report:) Maybe caused by recent {scales} update? Closing as installation issue.

- http://cran.r-project.org/web/packages/scales/index.html

Pls feel free to lmk if anything you notice!

[2015-06-19 04:01] #45 closed

[2015-06-22 13:47] sinhrks opened #47 "ENH: Follow-up of facet.labeller"
See #46.

[2015-07-14 16:31] timcdlucas opened #48 "Error from dplyr exported objects."
I'm trying to use autoplot on glm and lm objects. I am getting errors about dplyr exported objects.

    Error: 'arrange_' is not an exported object from 'namespace:dplyr'

I tried to reinstall ggfortify from github and got
    Error: processing vignette 'basics.Rmd' failed with diagnostics:
    'select_' is not an exported object from 'namespace:dplyr'

Has something changed in dplyr that means t

[2015-07-15 12:23] sinhrks commented on #48
Thanks for the report. ``arrange_`` is a SE function which is added in dplyr 0.3, so can you update it?

- https://github.com/hadley/dplyr/releases/tag/v0.3

 I will fix ``DESCRIPTION`` to specify the version number.

[2015-07-15 12:40] #48 closed

[2015-08-18 12:15] sinhrks opened #50 "Support fun='event' in survival curves"
[code]
![rplot](https://cloud.githubusercontent.com/assets/1696302/9329628/215dad7c-45ee-11e5-8685-810943f2cea3.png)

[2015-08-20 12:31] #50 closed

[2015-10-05 16:38] sinhrks commented on #18
Done. https://cran.r-project.org/web/packages/ggfortify/

[2015-10-05 16:38] #18 closed

[2015-10-05 16:39] #26 closed

[2015-10-10 20:58] sinhrks opened #59 "DOC: Migrate rpubs to vignette"
- [x] Prepare more vignette merging existing RPubs docs
- [x] Release next version (Dec, 2015 or Jan, 2016 following CRAN policy?)
- [ ] Add link to vignette from existing RPubs.
- [x] Rename ``VignetteIndexEntry``

[2015-10-20 10:40] sinhrks commented on #17
May need to revisit this, as ``ggplot2::fortify`` may be deprecated in future. ``broom::augment`` will be a successor?

https://github.com/hadley/ggplot2/blob/master/R/fortify.r

[2015-10-22 14:30] sinhrks opened #67 "ggfortify installation fails: could not find function "eval""
In both ``install.packages`` and ``install_github``.

[code]

Maybe related to ``ggplto2`` dev version:

- https://github.com/jrnold/ggthemes/issues/36
- https://github.com/dkahle/ggmap/issues/65

[2015-10-25 02:24] sinhrks commented on #59
@terrytangyuan Vignettes of current CRAN version (0.0.4) has limited info corresponds to "basics.Rmd". I've moved other RPubs to "vignettes" directly already, and planning to include them in next release. How about following 6 files?

- basics
- plot_dist
- plot_lm
- plot_pca
- plot_surv
- plot_ts

[2015-10-25 04:24] terrytangyuan commented on #59
Sounds good. I'll work on them whenever I have time. Where should the translated version be placed?

[2015-10-27 12:00] lionel- commented on #67
This error comes with these (possibly unrelated) warnings:
[code]
this probably could be fixed by importing only the functions you need instead of importing the whole packages.

[2015-10-27 14:05] sinhrks commented on #67
Thanks, this is one thing but not only that. We need to fix internal impl to meet with ggplot2 change as below.

- https://github.com/jrnold/ggthemes/pull/37/files

[2015-10-27 14:08] sinhrks commented on #59
I don't have experience of localization using knitr, splitting R programs to external file makes your work easier?

- http://yihui.name/knitr/demo/externalization/

[2015-10-30 23:04] #67 closed

[2015-10-31 22:48] sinhrks opened #72 "TST: Creating vignettes fails on Travis CI repeatedly"
From yesterday, following error occurs on Travis CI repeatedly. Maybe any dependencies has been changed? Strangely I can't reproduce the issue on my local.

The branch is unmodified fork of current master:

- https://travis-ci.org/sinhrks/ggfortify/jobs/88574863

[code]

The error message says it is related to ``lfda`` block.

[code]

[2015-10-31 22:52] sinhrks commented on #72
@terrytangyuan Any thoughts? Either results can be complex number logically...?

[2015-11-01 21:09] terrytangyuan commented on #72
This is very strange. I believe something might have changes rgl package, which tries to open the x11 device. Nothing has been changed for lfda package. I haven't looked into the PR yet but it seems like that the failure only happens when you merge PR even when it's passed during the PR.

[2015-11-01 21:10] terrytangyuan commented on #72
Maybe you can skip Travis for lfda plotting unit tests for now.

[2015-11-01 21:20] terrytangyuan commented on #72
If the tests and vignettes run fine locally, let's just skip the vignettes building during Travis for now. Try something like:
r_build_args: --no-build-vignettes --no-manual --no-resave-data
r_check_args: --no-build-vignettes --no-manual

[2015-11-01 23:07] sinhrks commented on #72
Thanks, I temporary removed it by changing extension (as other vignettes works).

[2015-11-12 14:10] sinhrks opened #78 "COMPAT: Test failure in CRAN"
Received kind email from CRAN:

[2015-11-12 14:49] terrytangyuan commented on #78
Submitting new version?

[2015-11-12 15:18] sinhrks commented on #78
Yes, needs new version. I'm going to check #59 and #72 at this chance. Do you have anything should be included?

[2015-11-12 15:21] terrytangyuan commented on #78
Not really. I am only working on a draft article but it doesn't need to be included.

[2015-11-13 11:06] #72 closed

[2015-11-13 11:06] #78 closed

[2015-11-30 13:45] sinhrks opened #87 "CLN: Require ggplot >= 1.1.0"
Remove legacy code for ggplot2 v1.0 or prior once v1.1.0 has been released. Related to #47.

[2015-12-19 02:46] #87 closed

[2015-12-31 21:31] MYaseen208 opened #90 "ggfortify gives different PCA loadings in biplot when compared to stats::biplot"
ggfortify gives different PCA loadings in biplot when compared with stats::biplot ouput. This is also reported [here](http://stackoverflow.com/q/33996541/707145).

[2016-01-02 11:37] sinhrks commented on #90
Thanks for the report. I'll dig in.

[2016-01-11 03:04] sinhrks opened #97 "Merging legends"
Looks possible but can't work well with current ``ggmultiplot`` as ``legend`` must be considered as plot (grob). Needs separated class to dot this, or logic to merge the same legends when output.

[code]

![rplot](https://cloud.githubusercontent.com/assets/1696302/12226104/2edac5be-b85a-11e5-836c-c38e4b14b8bb.png)

[2016-01-11 05:26] cschwarz-stat-sfu-ca opened #98 "ggsave doesn't recognize ggfortity objects"

[2016-01-16 15:24] #36 closed

[2016-01-16 15:24] #90 closed

[2016-01-17 01:50] sinhrks opened #102 "Cleanup internals"
- [x] Make `post_fortify` to always attach `base_class`
- [x] Move `ggplot` instanciation to `geom_factory`, do not include duplicated data to geom.

[2016-01-17 08:15] sinhrks opened #104 "Follow-up for ggrepel support"
#103

Decide how to handle ggrepel unique kwds.

[2016-02-09 23:13] sciatro opened #105 "autoplot survfit broken w/ ggplot 2.0.0"
Using R v3.2.3 w/ ggfortify 0.1.0 and ggplot2 2.0.0 fails

[code]
Other conversation about this at: https://github.com/hadley/ggplot2/issues/1458

[2016-02-15 23:39] sinhrks commented on #105
Thanks for the report. The error seems to be the same as #91 which we can't reproduce. Could you try reinstalling ``ggfortify``?

[2016-02-16 17:02] sciatro commented on #105
Sure thing. I actually saw #91 and tried to reinstall already; however, happy to do so again to be sure...

I did a remove / install (full session shown below) after trying to reinstall over my current packages and getting the same error.

#### Remove my ggfortify and ggplot2
[code]
#### Confirm they are gone
[code]
#### Reinstall them
[code]
#### Reproduce error
[code]
#### Dump Session...
[code]

[2016-02-16 22:39] sinhrks commented on #105
Thanks, could you check the latest dev still affected by the issue?

[code]

[2016-02-18 23:35] yutannihilation opened #106 "The next version of forecast conflicts with ggfortify"
As [Hadley tweeted](https://twitter.com/hadleywickham/status/700449824479444992), forecast package will natively support ggplot2. That's a great news per se, but this means that they implemented their own `fortify` and `autoplot` methods, which conflict with ones in ggfortify package.

[code]

I tried the dev version of forecast package and found the error (Sorry, I haven't dig into the detail yet

[2016-02-22 23:53] sciatro commented on #105
Good news: expected results w/ latest dev build.

[2016-02-23 03:07] sinhrks commented on #105
Thanks to confirm. Going to update on CRAN.

[2016-02-23 03:07] #105 closed

[2016-02-23 03:17] sinhrks commented on #106
Thanks for the report. I'm going to add a logic to prioritize forecast's autoplot.

However, autoplot in forecast package looks less options and less compat with other ts plots than ggfortify. Maybe we should have our own generic function (though we should use autoplot if there is no namespace conflict).

@terrytangyuan any ideas?

[2016-02-23 04:00] terrytangyuan commented on #106
Yeah they seem to have very few options at this moment. I suggest we should just avoid namespace conflicts somehow and stick with our autoplot.

[2016-02-28 22:36] sinhrks opened #107 "Fix error on CRAN"
https://cran.r-project.org/web/checks/check_results_ggfortify.html

[2016-03-02 14:17] terrytangyuan commented on #107
Hmm weird. Do you know any possible reason why lfda is not found? Is this the new submission?

[2016-03-05 14:55] sinhrks commented on #107
Not sure... I've fixed error cases on travis, and going to dubmit to CRAN.

Do you have anything should be included?

[2016-03-05 15:12] terrytangyuan commented on #107
I see. Nope.

[2016-03-05 15:39] sinhrks commented on #107
OK, thanks:)

[2016-03-05 15:39] #107 closed

[2016-05-18 22:52] sciatro opened #113 "Package got removed from the CRAN"
https://cran.r-project.org/web/packages/ggfortify/index.html shows:

[code]

`> install.packages` fails as expected; however, the `devtools` install continues to work as expected after:

[code]

[2016-05-19 01:12] terrytangyuan commented on #113
@sinhrks Did you get a chance to submit the fix yet?

[2016-05-20 11:53] kaji331 commented on #113
Could you add Rtsne package support? It is famous in single cell biology field.

[2016-05-25 22:48] sinhrks commented on #113
Thanks for the report. I'm fixing some points reported from CRAN, and will re-submit sooner.

@kaji331 As I don't familiar with ``Rtsne``, PR is appreciated:)

[2016-06-01 08:50] kaji331 opened #115 "How to add different point type for kmeans plot?"
for example:

d <- rnorm(100)
i <- c(rep("A",50),rep("B",50))
fit <- kmeans(d,2,nstart=1000)
mds <- cmdscale(dist(d))
ggplot(as.data.frame(mds)) + geom_point(aes(mds[,1],mds[,2],shape=i),size=3)

So, I don't know how to use "i" by autoplot for different point...shape in autoplot is a logical value.

[2016-06-08 11:09] sinhrks commented on #113
Closed with #112.

[2016-06-08 11:15] sinhrks commented on #115
You can use `shape` kwds. See `help(ggbiplot)` for other kwds.

[code]

![rplot](https://cloud.githubusercontent.com/assets/1696302/15892611/98b5f500-2db5-11e6-8f50-dbcd1f6dfdd3.png)

[2016-06-08 11:15] #115 closed

[2016-06-18 02:41] terrytangyuan commented on #106
@sinhrks this should be fixed now, right?

[2016-06-18 02:42] terrytangyuan commented on #59
This can be closed, right?

[2016-06-18 03:09] sinhrks commented on #59
yeah wil update on rpubs.

[2016-07-08 03:00] DarioS opened #119 "Survival Plot Doesn't Allow Per-Group Aesthetics"
Unlike the base survival plot, it's not possible with *ggfortify* to set a different line colour for each patient group. Looking at the documentation of `autoplot.survfit`, it's only possible to choose a single colour for the parameter `surv.colour`.

[2016-07-08 05:00] DarioS opened #120 "Adding Line Colour Changes Line Position"
I firstly used the command

[code]

and got a sensible looking plot.

![normalsurv](https://cloud.githubusercontent.com/assets/631218/16676168/15f6def0-450b-11e6-9f08-028b2daf98a6.png)

Then, I added a line colour and the placement of lines changed

[code]

![badsurv](https://cloud.githubusercontent.com/assets/631218/16676175/1e5117d2-450b-11e6-8345-8baeb45aac18.png)

The legend also disappeared.

[2016-07-22 22:38] #106 closed

[2016-07-23 03:30] #59 closed

[2016-07-28 18:34] averissimo commented on #120
You want to control the colors on each curve? **try this**:

    p1 <- autoplot(survival_obj)
    p1 <- p1 + scale_colour_manual(values = c('indianred2','seagreen'))

I was having the same problem and when debugging found that it uses geom_step function and this is how to control the colors :)

Despite all this, I think the implementation on ggfortify should be more clear on that option or correct

[2016-07-29 01:37] sinhrks commented on #120
@averissimo thx for the reply. It is correct that we should specify multi colors like ``ggplot2`` does.
Maybe better to update the doc.

@DarioS Sorry to late reply, I missed the notification.

[2016-07-29 01:38] sinhrks commented on #119
Documentation issue, handled in #120.

[2016-07-29 01:38] #119 closed

[2016-08-02 15:51] fkgruber opened #121 "Change Legend Title"
Hi
How can I change the title of the legend? Right now it is always called strata

I tried scale_color_discrete(name = xlab) but then I got 2 legend:

![image](https://cloud.githubusercontent.com/assets/4311763/17335306/7ecaf4d4-58a7-11e6-915c-857a03df339b.png)

[2016-08-02 15:56] fkgruber commented on #121
I just figured it out
autoplot(survc, type = "fill", alpha = 0.1, pVal = T,
                           title = ylab, legTitle = xlab, ylab = ylab,
                           legLabs = levels(toplotsim$x))  +
                scale_color_discrete(name = xlab) +
                scale_fill_discrete(name = xlab)

![image](https://cloud.githubusercontent.com/assets/4311763/17335503/2e989542-58a8-11e6-84

[2016-08-02 15:57] fkgruber commented on #121
Perhaps it would be nice to have an argument allowing you to decide the legend title?

[2016-08-02 16:14] terrytangyuan commented on #121
@fkgruber Yeah that would be good too. Feel free to submit a PR! `autoplot` returns a ggplot2 object so you can easily extend with additional ggplot2 syntax.

[2016-08-02 16:14] #121 closed

[2016-08-02 16:15] terrytangyuan commented on #98
Sorry for late reply. Could you include a reproducible example? Pull requests are welcomed!

[2016-08-02 17:03] cschwarz-stat-sfu-ca commented on #98
# Demonstrate problem with ggsave and ggfortify objects.

library(ggfortify)
library(ggplot2)

mydata <- data.frame( x=rnorm(10), y=rnorm(10))

fit <- lm(y~x, data=mydata)

# get the residual and other plots
diagplot <- autoplot(fit)
diagplot

ggsave(plot=diagplot, file='temp.png', h=6, w=6, units="in",dpi=300)

The last ggsave() gives:

Error in UseMethod("grid.draw") :
  no applicable method for

[2016-08-02 20:46] terrytangyuan commented on #98
Thanks! I noticed that `ggsave(file='temp.png', h=6, w=6, units="in",dpi=300)` works without specifying the plot. It just uses the last plot. I need to dig into ggplot2's code to see whether we can extend from there.

[2016-08-02 20:55] terrytangyuan commented on #98
@cschwarz-stat-sfu-ca Let's just use this workaround for now - print your plot first and then just call `ggsave` without specifying the plot. Otherwise, we'll have to look into ggplot2 or grid internals. Closing this for now unless you have other use cases that I may have missed.

[2016-08-02 21:11] terrytangyuan commented on #98
@cschwarz-stat-sfu-ca I posted an issue in ggplot2 here: https://github.com/hadley/ggplot2/issues/1692

[2016-09-25 15:31] lrocax opened #122 "Add PC1/2 scores to graph axes"
Hi,

Is it possible to add the PC1 and PC2 scores to the axes labels (like in ggbioplot: https://github.com/vqv/ggbiplot)?

Thanks

[2016-09-25 15:49] raz1 opened #123 "Use lda {MASS} rather than the lfda {lfda}"
Hola,

Is it possible to use lda {MASS} rather than the lfda {lfda}? Can you please provide an example?

Thanks

[2016-09-25 21:34] terrytangyuan commented on #122
Autoplot would return a ggplot object so you can override the axes labels by adding additional ggplot2 syntax.

[2016-09-26 02:40] terrytangyuan commented on #123
Does its result provide necessary information that's similar to `prcomp` such as rotation matrix, etc? If so, it should not be hard at all.

[2016-09-26 02:42] terrytangyuan commented on #122
I mentioned this functionality in our paper: https://journal.r-project.org/archive/accepted/tang-horikoshi-li.pdf

Please see the section for PCA. You can apply additional ggplot2 code to further enhance the plot.

[2016-09-26 05:44] raz1 commented on #123
I really do not know? where it can be checked?

[2016-09-26 06:43] sinhrks commented on #122
Thx for the report. You can pass arbitrary char vectors to ``loadings.label.label`` (you'll see a warning but it should work):

[code]

![rplot](https://cloud.githubusercontent.com/assets/1696302/18824809/b874b070-83ff-11e6-9f3f-abc5678d783c.png)

[2016-09-26 06:43] #122 closed

[2016-09-26 06:53] sinhrks commented on #123
Thx for the request. I think it's possible because standard ``plot`` can handle it.

It is great if you can prepare a PR (define ``fortify.lda`` to convert ``lda`` to ``data.frame``, and fix ``autoplot.pca_common`` and ``ggbiplot`` to support it).

[2016-09-26 13:21] lrocax commented on #123
It will be great to have Linear discriminant analysis within this package.

[2016-09-27 17:58] terrytangyuan opened #124 "Latest build failed in dev env"
Details [here](https://travis-ci.org/sinhrks/ggfortify/jobs/162475772).

@sinhrks Could you look into this when you get a chance?

[2016-09-27 23:58] sinhrks commented on #124
sure, will do.

[2016-11-06 18:43] Rekyt opened #125 "fortify for `raster::raster` objects"
Hey,
Thanks for building this awesome package that helps working with `ggplot2` in all circumstances ;)

There are quite a number of methods for `sp` objects in `ggfortify` but none for `raster` objects.
The `rasterVis` package include a `fortify()`-like function in its function [`gplot()`](https://github.com/oscarperpinan/rastervis/blob/master/R/gplot.R#L17-L24) .
I was thinking of implementing s

[2016-11-07 04:00] DarioS commented on #120
I think that it would be better to provide abstraction of this to the end-user, as the function currently tries to do unsuccessfully. The underlying ggplot2 framework should be hidden away where possible.

[2016-11-07 05:39] sinhrks commented on #120
OK, will consider the fix.

[2016-11-08 13:30] terrytangyuan commented on #125
Pull request is welcomed!

[2016-11-14 05:23] sinhrks commented on #124
Looks to be caused by deps installation, needs to look in further.

[2016-11-16 20:57] DarwinAwardWinner opened #128 "Autoplot for spline basis"
A while back, I wrote an autoplot method for spline basis objects: http://stats.stackexchange.com/a/179099/5736

Would you be interested in including this in ggfortify?

[2016-11-17 00:42] terrytangyuan commented on #128
Welcome pull request!

[2016-11-17 03:13] sinhrks commented on #128
Looks nice!

[2016-11-20 19:07] #128 closed

[2016-11-20 19:07] terrytangyuan commented on #128
Feel free to add some vignettes! @DarwinAwardWinner Looking good!

[2016-11-21 05:32] fabioand2k opened #130 "survfit error on plot"
Hi,

please, when i try to run

library(ggfortify)
library(survival)
fit <- survfit(Surv(time, status) ~ sex, data = lung)
autoplot(fit)

gave this error:
Error: GeomConfint was built with an incompatible version of ggproto.
Please reinstall the package that provides this extension.

thank you so much

[2016-11-21 06:11] terrytangyuan commented on #130
The error seems obvious. You need to reinstall those packages for compatibility issue.

[2016-11-21 06:14] fabioand2k commented on #130
Hi,
im sorry do you means reinstall ggfortify, survival or ggplot2 ?

thank you for your support.

[2016-11-21 06:15] terrytangyuan commented on #130
GeomConfInt and ggproto.

[2016-11-21 06:16] fabioand2k commented on #130
thank you so much!!!

[2016-11-21 06:18] terrytangyuan commented on #130
No problem.

[2016-11-21 06:18] #130 closed

[2016-11-21 06:21] fabioand2k commented on #130
Terry,
sorry again, i am beginner in R.
GeomConfInt and ggproto are not packages in CRAN.
i try to remove ggfortify and reinstall and same error.

[2016-11-21 06:29] terrytangyuan commented on #130
Oops sorry they are not packages but objects. Try reinstall survival?

[2016-11-21 06:30] fabioand2k commented on #130
i will try now. just a second

[2016-11-21 06:32] fabioand2k commented on #130
hi Terry,,

same error after remove and reinstall survival.

thanks

[2016-11-21 06:34] terrytangyuan commented on #130
Try reinstall ggplot

[2016-11-21 06:38] fabioand2k commented on #130
from github or cran, cause i did from cran and same error.

this is was my first try.

[2016-11-21 06:38] fabioand2k commented on #130
you can run this code in your environment ?

[2016-11-21 06:39] terrytangyuan commented on #130
I'll give it a try later. Not near my computer.

[2016-11-21 06:40] fabioand2k commented on #130
thank you my friend

[2016-11-21 14:16] yutannihilation commented on #130
Hi, I've reproduced the error with the same code on my Windows environment (R 3.3.2) and found that `install.packages("ggfortify", type = "source")` solves the problem, though I don't know why...

[code]

[2016-11-21 14:22] terrytangyuan commented on #130
Perhaps the fix wasn't on CRAN yet. Can you try install Github version?

[2016-11-21 15:14] terrytangyuan commented on #130
I was able to get the same results as well. `devtools::install_github("sinhrks/ggfortify")` works as well.

I think the problem is the version on CRAN was built using old version of other packages (not install from source) https://cran.rstudio.com/bin/macosx/mavericks/contrib/3.3/ggfortify_0.2.0.tgz

So solution is: install from Github or install from source. @fabioand2k

Thanks for reporting @fab

[2016-11-22 01:05] sinhrks commented on #130
Yeah, will release on CRAN hopefully after #126.  Also there is a erroneous case seems to be caused by ggplot2 side. I'll revisit and forward it to ggplot2.

- https://github.com/sinhrks/ggfortify/blob/dcb291a3fcccff79a30213ccea99cddcc1ad67e0/tests/testthat/test-surv.R#L190

[2016-11-22 19:47] terrytangyuan commented on #124
Seems to be fixed by itself. ;-)

[2016-11-22 19:47] #124 closed

[2016-11-22 19:59] #125 closed

[2016-11-25 18:23] AndreaPi commented on #98
Hi, any news on this? It still doesn't work - only the last of the 6 diagnostic plots gets saved, which is not what one needs. Thanks

[2016-11-25 19:47] terrytangyuan commented on #98
Thanks for the follow-up! We will fix it soon but the temporary solution is:

[code]

Let me know if this fixed the issue!

[2016-11-25 20:18] terrytangyuan commented on #98
As Hadley mentioned in the other issue, it's because `grid.draw` needs to be implemented for `ggmultiplot` objects. Working on the fix now!

[2016-11-25 20:27] terrytangyuan commented on #98
Fixed here https://github.com/sinhrks/ggfortify/commit/beea00e54582ed0e2fb10b34e354dcc42f4fc4c5! @AndreaPi @cschwarz-stat-sfu-ca

Closing this again. Let me know if you are still encountering any issues!

[2016-11-25 20:27] #98 closed

[2016-12-05 00:00] DarioS opened #134 "NEWS File Not Visible on CRAN"
Many packages have a NEWS or README file with links on their CRAN webpage. `ggfortify` uses an unusual file format for these, so these files are not visible to the end user. Also, the NEWS file is missing information about what's new in the 0.3 version.

[2016-12-05 01:01] terrytangyuan commented on #134
Thanks for reporting! I just pushed the fix. @sinhrks Do you think we should push this minor change?

[2016-12-05 01:23] sinhrks commented on #134
Thx for the report and fix.

As CRAN isn't willing to accept frequent pkg update, going to wait until next release.

[2016-12-05 01:23] #134 closed

[2016-12-05 03:00] DarioS opened #135 "Strange Handling of Colouring By Variable in Current Environment"
The legend is missing.

    species <- as.numeric(factor(iris[, "Species"]))
    autoplot(prcomp(iris[, 1:4]), colour = species, environment = environment())
    Warning message:
    In if (value %in% columns) { :
      the condition has length > 1 and only the first element will be used

Picking a column from the data frame works without a problem.

    autoplot(prcomp(iris[, 1:4]), data = iris,

[2016-12-05 05:32] sinhrks commented on #135
related to #120. Currently , ``colour`` must be a single string of column name to specify color. Will consider a fix when I have a time.

[2016-12-09 09:52] andbeck opened #136 "autoplot for glm() does not work with two column response variable"
binomial glm() models are often fit with a two column response variable. autoplot for these models is failing.  Here is a reproducible example.

[code]

[2016-12-12 02:39] sinhrks commented on #136
Thx for the report. Current impl doesn't handle the case when a response is a matrix. Will check to fix it.

[2016-12-16 12:28] andbeck commented on #136
Super. Thanks.  We use ggfortify a lot with teaching (and in our book, Getting Started with R).

[2016-12-16 19:35] terrytangyuan commented on #136
@andbeck Thanks for the support! Could you link me to the book just for my curiosity?

[2016-12-17 10:02] andbeck commented on #136
Hey - the book is here:

https://global.oup.com/ukhe/product/getting-started-with-r-9780199601622?cc=gb&lang=en&

However, it's the second edition, coming in the new year, where we've shifted to ggplot and dplyr, and thus take advantage of ggfortify  - particularly autoplot() - to keep things looking good!  @GSwithR on twitter has the running commentary/updates, and www.r4all.org is the website.

[2016-12-24 15:38] #136 closed

[2017-01-03 11:22] andbeck commented on #136
Thanks for this.  Nice work and much appreciated.

[2017-01-05 13:50] DasHammett opened #140 "autoplot fails on poly regression"
Hi,

I get similar error message as in #137 when doing any polynomial regression.
Please see reproducible example:

[code]

[2017-01-05 15:15] terrytangyuan commented on #140
I am travelling and not able to help with this for a while. Are you using the most recent version on Github? cc: @sinhrks

[2017-01-05 18:48] DasHammett commented on #140
Hi!

No worries, you will have a look upon your return.
In the meantime I can still run the regression with `formula = y ~ x + I(x²)` as writing the regression like this works as expected.

The first thing I did is to use the github version, but unfortunately I experienced the same error.

Thank you for having a look when you can.

[2017-01-06 17:32] #140 closed

[2017-01-06 17:34] sinhrks commented on #140
@DasHammett thx for the report. the issue is caused by matrix contained in the explanatory values ( almost the same as #137). pls use the latest master.

[2017-01-23 06:00] DarioS opened #142 "Order of Groups is Undesirably Rearranged"
I have a survival grouping where the factor levels are different to alphabetical ordering.

	levels(samplesGroups)
	[1] "Low"  "High"

`survfit` keeps these in the correct order

	Call: survfit(formula = survivalData ~ samplesGroups)

		            n events median 0.95LCL 0.95UCL
	samplesGroups=Low  17     11   3.63   1.838      NA
	samplesGroups=High 17     10   4.55   0.992      NA

However, `au

[2017-01-23 07:00] DarioS opened #143 "Variable Name in Survival Plot Legends"
By default, `autoplot` uses the names from `survivalFit[["strata"]]` as the legend levels. They have a `variableName=value` format. Programmer's variable names are not something that a figure to be published in a medical journal should have displayed. Perhaps `autoplot` should use code like `gsub(".*=", '', strataNames)` to place only the level name in the legend. `autoplot` also lacks any legend

[2017-01-23 15:23] terrytangyuan commented on #143
Theoretically you can always append new ggplot syntax to autopilot result (which is ggplot object), using plus sign. Have you tried this?

[2017-01-24 00:00] DarioS commented on #143
Yes, that works for me, but the default output could be better and require less end-user interaction is what I am suggesting. Both renaming and reordering the labels after the plot is generated is asking for trouble, such as the colours being associated with incorrect text labels, if not done carefully.

[2017-01-24 00:03] terrytangyuan commented on #143
You are always welcome to submit a PR to fix them! It would be great if you
can provide a reproducible example.

On Mon, Jan 23, 2017 at 6:00 PM DarioS <notifications@github.com> wrote:

[2017-01-24 01:00] DarioS commented on #143
A minimal example is:

    library(ggfortify)
    library(survival)

    livingStatus <- sample(0:1, 20, replace = TRUE)
    followupTime <- rpois(20, 300)
    samplesGroups <- factor(sample(c("Low", "High"), 20, replace = TRUE), levels = c("Low", "High"))

    survivalData <- Surv(followupTime, livingStatus)
    survivalFit <- survfit(survivalData ~ samplesGroups)
    autoplot(survivalFit, conf.i

[2017-01-31 21:08] lselzer opened #144 "Plot different choice of principal components axes"
Hello, thank you for the package. I find it really usefull. However, I would like the option to plot other axes instead of just the first two. Looking at the code I see that this is hardcoded. I could make a PR change that as an option if that's ok.

[2017-01-31 21:31] terrytangyuan commented on #144
Thanks! Yeah that would be great.

[2017-02-03 01:02] #144 closed

[2017-02-05 15:06] kendomaniac opened #149 "importing autoplot"
Dear Sir,
I have written a function in which I used ggfortify to plot PCA the overall function is pretty simple, see below.
When I do the package (https://github.com/kendomaniac/docker4seq) check I get the following warning:
samplesPca: no visible global function definition for ‘autoplot’
Undefined global functions or variables:
  autoplot

I import in my function ggfortify, but it seems that the

[2017-02-05 16:22] terrytangyuan commented on #149
Try ggfortify::autoplot(prcomp(t(data)))?

[2017-02-05 17:51] kendomaniac commented on #149
Hi Terry,
thanks for the quick answer.
I fixed the inconsistencies.
I used you suggestion:
but now I get during the package check:
Missing or unexported object: ‘ggfortify::autoplot’
and if I try to run the function I get:

Error: 'autoplot' is not an exported object from 'namespace:ggfortify'

###############################################################
#' @title Sample PCA on raw counts
#' @d

[2017-02-05 18:02] terrytangyuan commented on #149
Try put ggfortify package in your imports in DESCRIPTION instead of DEPENDS. Add `#' @import rARPACK` to your function roxygen comments. And then use `ggfortify::autoplot` in your code above.

[2017-02-05 18:22] terrytangyuan commented on #149
Sorry I meant `#' @import ggfortify` instead of `rARPACK`

[2017-02-05 18:24] kendomaniac commented on #149
HI Terry,
I did as you suggested:
now in the DESCRIPTION I have:
Depends:
    R (>= 3.2.0), refGenome
Imports: ggfortify

the #' @import ggfortify was already in the roxigen comments.

Unfortunately I still get during the package check I get:

checking dependencies in R code ... NOTE
Missing or unexported object: ‘ggfortify::autoplot’

trying to run the function I get

Loading required package: re

[2017-02-05 18:26] terrytangyuan commented on #149
When you run this code by itself, does it work? Does it find autoplot?

[2017-02-05 18:34] terrytangyuan commented on #149
I see. `autoplot` is indeed not exported. Could you try `ggfortify:::autoplot.prcomp()`? (Note the three dots)

[2017-02-05 18:34] kendomaniac commented on #149
Yes but only if I use autoplot

with

Error: 'autoplot' is not an exported object from 'namespace:ggfortify'

[Rplot.pdf](https://github.com/sinhrks/ggfortify/files/753189/Rplot.pdf)

[test_counts.txt.zip](https://github.com/sinhrks/ggfortify/files/753190/test_counts.txt.zip)

[2017-02-05 18:40] terrytangyuan commented on #149
See my last comment.

[2017-02-05 18:42] kendomaniac commented on #149
In the function:
ggfortify:::autoplot.prcomp(prcomp(t(data)), data=data.df, colour='groups', label = label, label.size = label.size)
during package check:
checking dependencies in R code ... NOTE
Unexported object imported by a ':::' call: ‘ggfortify:::autoplot.prcomp’
  See the note in ?`:::` about the use of this operator.

However, although there is the NOTE this time testing the function I do

[2017-02-05 18:42] #149 closed

[2017-02-05 18:44] terrytangyuan commented on #149
Great! You can perhaps put it back to in `Depends`. Glad helped.

[2017-02-05 18:46] kendomaniac commented on #149
OK thanks

[2017-02-08 03:00] DarioS opened #150 "Log Transformation Does No Transformation"
If `log` is specified for `fortify.survfit`, the original values are returned unchanged.

[code]

Is that a bug?

[2017-02-08 03:12] #150 closed

[2017-02-08 03:13] terrytangyuan commented on #150
Good catch. Thanks! Just fixed it!

[2017-02-08 04:00] DarioS commented on #102
Additionally to the above two issues, the last parameter of `fortify.survfit` is `...` but it is never used in the body of the function. Also, the documentation states that `...    other arguments passed to methods` which is incorrect. Its contents are not passed anywhere.

[2017-02-08 05:00] DarioS opened #151 "Unnecessary post_fortify in survfit Fortify"
The final line of `fortify.survfit`, `post_fortify(d)`, seems to be a no-op.

        [1] TRUE

Should it just be removed? This might be the same as #102.

[2017-02-08 06:00] DarioS commented on #102
Different permissible geoms according to documentation `@param surv.geom geometric string for survival curve. 'step' or line'` and code `geomfunc <- get_geom_function(surv.geom, allowed = c('step', 'line', 'point'))`. `point` is allowed, but not described in the documentation.

[2017-02-09 08:24] sinhrks commented on #151
Thx for the comment. Even though some func doesn't rely on ``post_fortify`` ATM, it is kept in case of adding common op in future.

[2017-02-09 08:24] #151 closed

[2017-02-09 08:26] sinhrks commented on #102
Thx for the comment. Yeah it should be fixed.

Also updated the checkboxes as these has been fixed already :)

[2017-02-10 05:56] #142 closed

[2017-02-10 05:56] #143 closed

[2017-02-22 15:59] vadimus202 opened #156 "Cannot change values drawn on the X axis in autoplot.glmnet()"
The `xvar` argument to `autoplot.glmnet()`has no effect on the plots. The plots always default to "norm" (L1-norm) values.
[code]
![image](https://cloud.githubusercontent.com/assets/7230548/23219320/c2c36dd4-f8ec-11e6-9c4b-ba33b1b57854.png)

![image](https://cloud.githubusercontent.com/assets/7230548/23219355/d327724c-f8ec-11e6-9ea0-3f53825ba54e.png)

[2017-02-22 18:45] vadimus202 opened #157 "Incorrect Y axis label in autoplot.cv.glmnet()"
The Y axis label in `autoplot.cv.glmnet()` plot reflect the default argument in `glmnet::cv.glmnet(type.measure="mse")`, even when the `type.measure="auc"` ( I haven't tested other available options). Please compare the results from `glmnet::plot.cv.glmnet()`

I can fix the axis label manually, but I thought I'd bring it to your attention.
Thanks

[code]

![image](https://cloud.githubusercontent.c

[2017-02-26 20:34] #102 closed

[2017-03-01 05:23] sinhrks commented on #157
@vadimus202 Thx, will fix it.

[2017-03-08 15:00] terrytangyuan opened #159 "Travis Failure"
This seems to start happening when I merged your last PR. @sinhrks Could you take a look when you get a chance?

[2017-03-10 21:18] #156 closed

[2017-03-10 21:18] terrytangyuan commented on #156
Thanks! Fixed.

[2017-03-16 13:05] #159 closed

[2017-03-16 14:23] terrytangyuan commented on #159
Okay but still looks failing though.

[2017-03-20 13:51] sinhrks commented on #159
The failure is caused by #158 which incorrectly handles non-factor df. Will prepare a fix.

[2017-03-20 19:33] therimalaya opened #162 "Support for Multivariate (mvr) Class"
Great to have this package. If I can ask for enhancement, please add support for `mvr` class object. For example the object from `[pls](https://cran.r-project.org/web/packages/pls/index.html)`.

[2017-04-19 04:00] DarioS opened #164 "autoplot PCA Specify Components"
Either the documentation doesn't explain it, or it's not possible, but I'd like to plot PC2 vs. PC3 and I can't. I checked the Examples section of `?autoplot.prcomp` and the Plotting PCA vignette.

[2017-04-19 05:17] terrytangyuan commented on #164
It's actually available since this PR: https://github.com/sinhrks/ggfortify/pull/146

We indeed need to add more examples though. Right now you can find some tests that could serve as examples.

[2017-05-03 14:49] Archergy opened #165 "autoplot绘制时间序列预测图时，部分参数无效"
我是在微信上看到你的那段介绍的，所以把代码运行了一遍，期间出现了点小问题
代码如下：
[code]
最后一行命令中的`ts.colour, predict.colour, pridict.linetype, conf.int`这些参数对结果无影响，其绘出的图与`autoplot(d.forecast)`完全相同。
在R3.3.3和3.4.0环境中测试的。

Ps.Please forgive me for using Chinese, because my English isn't very well.

[2017-05-04 02:52] terrytangyuan commented on #165
我试了一下这些参数都没有问题，可以改变颜色和线的形状，你是在RStudio里面跑的还是？

[2017-05-04 07:47] Archergy commented on #165
是在win10最新版的Rstudio里面跑的，我在Console中试了一下还是那样，很奇怪

[2017-05-04 15:06] terrytangyuan commented on #165
不好意思我手头没有win10可以跑，估计是你的环境有问题导致出来的图片没有更新，你试试把他们写到文件里面去？

[2017-05-17 07:42] dax44 opened #166 "ggdistribution"
Why
`ggdistribution(ppois, seq(0, 30), lambda = 20)`
gives me continous function?

[2017-05-23 06:51] sinhrks commented on #166
Thx for the report. It is caused by the line is drawned with geon `line` or `ribbon`. It should use `step` for discrete distributions.

https://github.com/sinhrks/ggfortify/blob/55b60cea8c4f31889ab5777bc68b6b5d162a0713/R/fortify_stats_density.R#L53

PR is appreciated:)

[2017-05-23 23:54] alepmaros opened #167 "Add set.lags to gglagplot"
Hello,

I often use the option set.lags in the lag.plot function from R to specify exactly which lags I want to plot.

The current gglagplot function only allows you to specify a range of lags (1:lags) and plot only those, so I can't do something like this:

`lag.plot(ldeaths, set.lags=c(1, 4, 8, 10), do.lines=FALSE)`

I was wondering if you chose to only allow to plot a specified range or if impl

[2017-06-07 03:00] DarioS opened #168 "ENH: Percentage of Variance Explained for PCA Axis Labels"
It would be nice if instead of only "PC1" and "PC2", `autoplot` would automatically show axis labels like "PC1 (55.3 %)" and "PC2 (27.5%)".

[2017-06-07 12:46] terrytangyuan commented on #167
@sinhrks Any thoughts?

[2017-06-07 21:47] #165 closed

[2017-06-29 14:50] sciatro opened #169 "Possible error in pca_common when plotting PCs other than 1 & 2?"
Is it possible that ``lam <- object$sdev[1L:2L]`` in [autoplot.pca_common](https://github.com/sinhrks/ggfortify/blob/master/R/fortify_stats.R#L258)  should be ``lam <- object$sdev[, c(x, y)]`` after https://github.com/sinhrks/ggfortify/pull/146?

I'm not sure just got some funky results that I was trying to track down.

Thanks for all the great work on the this package.

[2017-06-30 03:06] terrytangyuan commented on #169
@lselzer Could you take a look? @sciatro Thanks for reporting! It would be better if you could post a minimal reproducible example here.

[2017-06-30 14:59] lselzer commented on #169
@sciatro You are right, the eigenvectors are scaled by the inverse matrix of the root of the eigenvalues (i.e. their standard deviations). I have fixed it but I have to fix the tests. I will issue a PR when I do that.

[2017-07-03 00:50] lselzer commented on #168
Should this be the default? Would it work on the other objects that use `autoplot.pca_common()` ?

[2017-07-03 01:51] lselzer commented on #166
If it plots the probability of a discrete distribution then it should be points or a thin line. And I have an issue with the percentage in the Y axis with the pdf of continous distribution as it seems to imply that this is a probability.

Anyway, do you guys think it would be possible to infer if its a discrete distribution otherwise than checking the call?

[2017-07-03 02:28] #169 closed

[2017-07-03 02:43] terrytangyuan commented on #168
Perhaps have an argument for "show_variation_percentage" or something. Yes all pca common ones should have this. Users can also overwrite it by adding additional ggplot syntax since autoplot returns ggplot object.

[2017-07-03 21:38] lselzer commented on #120
@DarioS I'm guessing that you want to make all lines red regardless of which group they are. Am I correct?

[2017-07-04 01:00] DarioS commented on #120
Actually, it would be desirable to specify one colour per factor level. I only used `"red"` because the `surv.colour` option doesn't allow a vector of values.

    Error: Aesthetics must be either length 1 or the same as the data (208): colour

Note that the number of samples in the error message is wrong.

    [1] 228  10

[2017-07-04 15:20] lselzer commented on #120
I will take a look tomorrow. I think the issue is with the way that `geom_factory()` works. Am I right @sinhrks ? I likely fix would for `geom_factory()` to check if the column exists in the data if not, check if it is a valid colour.

[2017-07-05 22:06] lselzer commented on #164
I believe you can close this now

[2017-07-05 22:38] #164 closed

[2017-07-13 18:01] sctyner opened #174 "Y axis tick labels in ggdistribution"
The Y axis tick labels are not technically accurate. The y axis in the plot of a probability distribution function is not the probability or percent as the y axis in a `ggdistribution` plot shows. Probability is calculated from area under the curve, not from the value of the density function. The labelling of the axes as percents is inaccurate and confusing, especially in an example like the one b

[2017-07-14 01:11] terrytangyuan commented on #167
In my opinion, this `set.lags` is a wanted thing. You are very welcome to open a PR to add that in!

[2017-09-01 17:51] nancyxuanhe opened #175 "Error on PCA axis label when built using autoplot function"
Hi ggfortify developer,

I noticed that there're two "almost-identical" documentations on for plotting PCA.
One is [here ](https://cran.r-project.org/web/packages/ggfortify/vignettes/plot_pca.html)(from cran.r-project.org), one is from [here](http://rpubs.com/sinhrks/plot_pca)(from rpubs.com).

However, the axis for PC1 and PC2 are different (for example, if you look at first plot from the documen

[2017-10-30 09:16] kkmann opened #178 "Suvival Plots: numbers at risk"
Hey,

just wanted to ask whether there are any plans on including a 'number at risk table'-option for survival plots. If not, would you be willing to accept a PR? Any thoughts on how to do this the cleanest way? It could probably be done as an expansion of the time-axis labels...

Best,

Kevin

[2017-10-30 15:55] terrytangyuan commented on #178
Yes, PR is always welcomed!

[2017-11-06 07:37] yoursdearboy opened #179 "Relation with tidyverse/broom"
Greetings everyone.

What do you think about [tidyverse/broom](https://github.com/tidyverse/broom)? It seems that this package solves a major part of ggfortify needs - converting objects to tidy data and there's no such thing as `autoplot`, so it is not a replacement.

[2017-12-18 14:46] mindstorm555 opened #182 "Display PCA biplot loading labels without arrows"
Hi Guys,

Would it be possible to make loading arrows and loading labels independant for ggbiplot? At the moment loadings = F, loadings.label = T generates both arrows and labels which is identical to having loadings = T.
From my own playing around with trace( ), removing lines 48 - 50 from ggbiplot removes the arrows so would it be possible to accommodate this within the function?

[2018-01-08 15:43] terrytangyuan opened #184 "xts example failed on Travis build"
The following code:
[code]
gives the error on master branch (no recent code changes):
[code]

Looks like some dependency changes. @sinhrks Could you look into it when you get a chance?

[2018-01-22 15:52] terrytangyuan commented on #179
See related issue: https://github.com/sinhrks/ggfortify/issues/17

Contributions are welcomed!

[2018-01-22 15:52] #179 closed

[2018-01-29 14:19] sjmgarnier commented on #113
@sinhrks It looks like ggfortify was again removed from CRAN.

[2018-01-29 17:15] terrytangyuan commented on #113
@sinhrks Could you take a look as soon as you can as many packages also depend on ggfortify? Thanks.

[2018-01-29 17:16] terrytangyuan commented on #113
[code]

[2018-01-29 18:45] oldregan opened #185 "Your package was removed from CRAN!!!!!"
Hi, guys,
    I love your package. But I just found that your ggfortify was removed from CRAN two days ago. Can you update your package on CRAN as soon as possible? I would really appreciate it!!!!

Min

[2018-02-01 01:12] terrytangyuan commented on #185
Thanks for your support! We’ll try get it back to CRAN as soon as possible but in the meantime you can install from Github directly following [instructions here](https://github.com/sinhrks/ggfortify#installation).

[2018-02-06 13:00] connorrogerson opened #186 "PCA plot coordinates"
It's unclear how autoplot transforms the PC values to the coordinates that it plots.
Would be useful to be able to extract the values to replot the PCA.

[2018-02-06 15:24] terrytangyuan commented on #186
You can use `ggfortify::fortify()` to get the data used for plotting.

[2018-02-07 09:27] connorrogerson commented on #186
Thanks for this. I've had a go and this just outputs exactly the same as pca$x i.e. the PC scores. What I want is the actual coordinates that autoplot plots.

________________________________
From: Yuan (Terry) Tang <notifications@github.com>
Sent: 06 February 2018 15:24
To: sinhrks/ggfortify
Cc: connorrogerson; Author
Subject: Re: [sinhrks/ggfortify] PCA plot coordinates (#186)

You can use ggfor

[2018-02-07 12:28] terrytangyuan commented on #186
I see. You can try this:
https://stackoverflow.com/questions/12218440/is-it-possible-to-get-the-transformed-plot-data-e-g-coordinates-of-points-in

On Wed, Feb 7, 2018 at 4:27 AM connorrogerson <notifications@github.com>
wrote:

[2018-02-07 13:47] connorrogerson commented on #186
Perfect!!!

[2018-02-07 14:53] terrytangyuan commented on #186
Great! Is it working for you? Feel free to close the issue if so.

[2018-02-07 15:52] #186 closed

[2018-02-09 15:59] sjmgarnier commented on #113
@terrytangyuan @sinhrks Any update on this?

[2018-02-11 17:22] terrytangyuan commented on #185
I resubmitted the package with a couple of temporary fixes. It should be on CRAN soon. Thank you for your support and patience!

[2018-02-11 17:22] #185 closed

[2018-02-11 17:22] terrytangyuan commented on #113
I resubmitted the package with a couple of temporary fixes. It should be on CRAN soon. Thank you for your support and patience!

[2018-02-11 17:22] #113 closed

[2018-02-11 17:23] sjmgarnier commented on #113
@terrytangyuan Thanks!

[2018-02-11 17:25] terrytangyuan commented on #184
@sinhrks I've commented out a few tests related to `xts` and `timeSeries` with a comment `## TODO: CRAN temporary fix` in `test-ts.R` and `test-base_ts.R`. I also pushed a couple of fixes pointed out by CMD check and resubmitted to CRAN. Please help look into this issue when you get a chance. Thanks!

[2018-02-11 19:08] oldregan commented on #185
Thanks,Terry!

[2018-02-12 14:23] terrytangyuan commented on #175
@lselzer Could you take a look when you get a chance to see if this is related to your changes? Thanks!

[2018-02-12 14:26] terrytangyuan commented on #182
Could you give a more specific example and link me to those code (which file does line 48-50 belong to)? Pull request is always welcomed too if you want to submit the change and paste an example output here.

[2018-02-12 14:35] terrytangyuan commented on #174
Thanks for the report! This definitely seems like a bug. I haven't got a chance to look into this yet but pull request is always welcomed! The related code is [here](https://github.com/sinhrks/ggfortify/blob/55b60cea8c4f31889ab5777bc68b6b5d162a0713/R/fortify_stats_density.R).

[2018-02-12 18:38] lselzer commented on #175
It looks like the scaling parameter is different in the two. In the Rpubs docs scaling is 0 (disabled) while in the package docs is the 1, the default. And I look at my commits and I haven't chaged the scale factor.

[2018-02-12 18:52] terrytangyuan commented on #175
Thanks @lselzer for the confirmation!

@nancyxuanhe I am not sure about the RPubs one. But the vignette on CRAN is always the most up-to-date. Could you show me what how you produced result ranging from -3.2 and 3.7? Here's my result of `prcomp` and the plot looks matching the one hosted on CRAN.

[code]

[2018-02-18 16:14] #157 closed

[2018-02-18 16:14] terrytangyuan commented on #157
@vadimus202 This is now fixed. Thanks for reporting!

[2018-02-18 16:27] terrytangyuan commented on #120
A pull request for fixing this would be appreciated! @lselzer @DarioS @averissimo

[2018-02-18 16:38] terrytangyuan commented on #182
I took a look at this again. I don't think it's valuable since there is no point displaying only the labels without the arrows. You wouldn't know what those labels are. Closing this for now but feel free to give me a more specific use case you have. Thanks for reporting!

[2018-02-18 16:38] #182 closed

[2018-02-18 16:49] terrytangyuan commented on #166
@lselzer I think we'll have to check the call to infer whether it's discrete or not since results from `stats` does not give that information to us directly.

[2018-02-18 16:54] #174 closed

[2018-02-18 16:56] terrytangyuan commented on #174
@sctyner I pushed a fix to remove the incorrectly usage of `scales::percent`. It should now display the raw values of the distribution. In this case you should expect to see the peak of that distribution is around 8000. Thanks for the report!

[2018-03-22 14:11] obenno opened #191 "Remove label legend"
Hi,

Thanks for the amazing package. Is there a way to remove label legend which is a small "a" in ggforty? Some parameters to work as geom_text(show.legend=F)? Thanks.

Bests,
oben

[2018-03-22 15:26] terrytangyuan commented on #191
Thanks for the issue. Could you give a minimal example?

[2018-03-23 02:43] obenno commented on #191
Thanks for reply.

For pca plots,
I would like to achieve a plot like
`pca.value <- as.data.frame(prcomp(iris[-5])$x)
ggplot(cbind(pca.value, iris[5]), aes(PC1, PC2, color=Species))+geom_point()+geom_text(aes(label=rownames(iris)), show.legend=F)`
legend without tiny a of geom_text. Thanks.

[2018-03-23 02:44] obenno commented on #191
Thanks for reply.

For pca plots,
I would like to achieve a plot like
[code]
legend without tiny a of geom_text. Thanks.

[2018-03-23 02:54] terrytangyuan commented on #191
I am not sure what you meant. The following code could produce similar plots:
[code]
Is this what you need?

[2018-03-23 03:44] obenno commented on #191
Nope, I mean a different legend.

![with "a"](/home/xzx/Pictures/Selection_087.png)
![without "a"](/home/xzx/Pictures/Selection_088.png)

[2018-03-23 03:47] obenno commented on #191
![with a] (/home/xzx/Pictures/Selection_087.png)

![without a] (/home/xzx/Pictures/Selection_088.png)

[2018-03-23 03:48] obenno commented on #191
![with a](/home/xzx/Pictures/Selection_087.png)
![without a](/home/xzx/Pictures/Selection_087.png)

[2018-03-23 03:54] obenno commented on #191
Sorry for the confusing codes, which I mean is

![With "a"](https://user-images.githubusercontent.com/6121668/37810723-c01df9f2-2e90-11e8-872d-f80c52162996.png)
![Without "a"](https://user-images.githubusercontent.com/6121668/37810729-ca789966-2e90-11e8-815f-b3684fa3ae2b.png)

[2018-03-23 13:37] terrytangyuan commented on #191
Thanks. But I never saw those a's for some reason. Perhaps something's wrong with your ggplot2 version？

[2018-03-26 01:49] terrytangyuan commented on #191
Thanks! Seems like the following two plots indeed seem problematic and I could reproduce the problem:
[code]

[2018-03-26 02:09] obenno commented on #191
Thanks~

[2018-03-26 02:15] terrytangyuan commented on #191
I just pushed an update (install via `devtools::install_github('sinhrks/ggfortify')`). You can now provide `label.show.legend`, e.g.
[code]
This should fix the "a" issue. Let me know if it fixes things for you. Thanks!

[2018-03-26 07:29] obenno commented on #191
Thanks a lot, it perfectly works!

[2018-03-26 12:19] #191 closed

[2018-04-06 01:50] xinbinhuang opened #192 "Cannot set alpha level for multivariate time-series using `autoplot()`"
Hi ggfortify developer,

I found it unable to set the alpha level for multivariate time-series. Here is the code.

[code]
Here I just make two series, but the number of series I am dealing with is 100. So the plot looks really bad. Is there any workaround to change the alpha level?

[2018-04-06 02:27] terrytangyuan commented on #192
Note that you'll probably want `facets = FALSE`, e.g. `ts(cbind(p,q)) %>% autoplot(alpha = 0.5, facets = FALSE)` if you want to plot the lines in single axis. You can find more tutorials [here](https://cran.r-project.org/web/packages/ggfortify/vignettes/plot_ts.html).

[2018-04-06 02:30] terrytangyuan commented on #192
If you really have to import `forecast`, you can force to use `ggfortify`'s `autoplot()` using `ggfortify:::autoplot.ts`. Though it's not recommended but should be a workaround for you.

[2018-04-06 04:54] xinbinhuang commented on #192
@terrytangyuan Thank you very much! The information is really helpful. I use `ggfortify:::autoplot.ts` to solve my problem, because I still need to keep the `forecast` package

[2019-01-08 21:57] manjusst opened #194 "How to derive PC values/data used by the autoplot function used in the plot"
Dear Developer,
Hi. I used the "autoplot" function in the "ggfortify" package to make a very nice plot.

![pca_genotype](https://user-images.githubusercontent.com/46428510/50861537-47616500-1399-11e9-8a3a-ee75b0fa40c0.png)

Since I would like to use the PC values and eigenvalues for my publication. Could the authors explain how to get the data used for the plotting?
I looked at the issue history a

[2019-01-08 22:11] terrytangyuan commented on #194
You can find the implementation here:
https://github.com/sinhrks/ggfortify/blob/master/R/fortify_stats.R#L252

[2019-01-21 15:35] terrytangyuan commented on #194
@manjusst
[code]
You'll see the PC values like the following:
[code]

[2019-01-21 15:36] terrytangyuan commented on #194
@manjusst Hope this helps. The best place to ask questions is in https://stackoverflow.com/questions/tagged/ggfortify instead of Github where we track technical issues. I am closing this issue for now. Please ask on StackOverflow if you have more questions. Thanks.

[2019-01-21 15:37] #194 closed

[2019-02-03 20:59] phirsch opened #195 "Typo: "Contasnst" instead of "Constant" in autoplot.lm()"
There is a typo as indicated in the issue name at:

https://github.com/sinhrks/ggfortify/blob/4b620a965e6c09a1db5b83f835bdcd18467a5634/R/fortify_stats_lm.R#L256

[2019-02-04 03:58] terrytangyuan commented on #195
Thanks. Fixed.

[2019-02-04 03:58] #195 closed

[2019-02-27 17:21] #178 closed

[2019-03-19 06:33] briatte opened #196 "ggfortify + tidymodels"
Hello,

First, thank you for this exceptional package!

Second, I'd like to add to the remarks made in #17 and #179.

`ggfortify` integrates really well with the `broom` package, which became part of a larger effort to work on statistical models with tools like 'tidy data' and `ggplot2`:

https://github.com/tidymodels

How about making `ggfortify` part of that family of packages? Would that give i

[2019-03-20 05:17] terrytangyuan commented on #196
Thanks for opening the discussion! I’d definitely love to transfer ggfortify to a Github org and tidymodels seems to be a good fit, especially given that broom is there. @sinhrks What do you think?

Also cc @hadley as we have discussed this over email long time ago. Maybe it’s good to revisit this.

[2019-03-23 20:32] alexpghayes commented on #196
I haven't thought about this, but am curious to explore `ggfortify` more. I think @topepo is probably the person to chat with.

[2019-08-30 17:21] topepo commented on #196
I'd be happy to add some methods but it would be helpful to add specific issues to the various packages for what you want. In some cases, the `tidy` method might get you there.

[2019-08-30 17:38] terrytangyuan commented on #196
@topepo Thanks for joining this conversation! Could you elaborate on what you meant by "add some methods"?

Also unfortunately I was not able to get any response from @sinhrks since he isn't available for the last couple of years so I doubt that this repo can be directly transferred to tidymodels org. I've been the sole maintainer of this package now.

If tidymodels/broom community can help bring

[2019-08-30 17:58] topepo commented on #196
I don't think that it needs to be (or should be) in `tidymodels`.

I was suggesting that if someone wanted `fortify()` to work with some of the objects produced by a tidymodels package, they should let us know some specifics so that we can add some S3 methods that `fortify()` can use.

[2019-08-31 07:56] terrytangyuan commented on #196
Any reason for that?

[2019-11-05 14:33] hadley opened #197 "ggfortify fails with dev scales"
With test failures like:

[code]

I suspect this is due to:

* `col_factor()` now tries to avoid interpolating qualitative RColorBrewer
  palettes. Instead, it attempts to assign a palette color to each factor level.
  Interpolation will still be used if there are more factor levels than
  available colors, and a warning will be emitted in that case (@jcheng5, #191).

[2019-11-05 15:17] terrytangyuan commented on #197
@hadley Thanks for informing! I think we could relax the tests a bit here.

[2019-11-05 15:56] hadley commented on #197
Having investigated this a bit more, I now think it's due to the switch to farver in `hue_pal()`. I'm going to try and get to the bottom of it today, but it's possible we'll roll back to the previous implementation in which case you probably won't need to do anything.

[2019-11-05 15:57] terrytangyuan commented on #197
@hadley Thanks. Please keep me posted then.

[2019-11-05 19:35] hadley commented on #197
Yup, looks like this is fixed on my end 😄

[2019-11-05 19:35] #197 closed

[2019-11-29 06:32] Jahadsoorni commented on #191
Hi,
I had a same problem with "fviz_pca_biplot()" and fixed with "label.show.legend = FALSE".
Thanks.

[2020-02-14 18:23] iago-pssjd opened #198 "Feature request: a method for the objects obtained from lmer, glmer of package lme4"
I have tried `autoplot` with `ggfortify` loaded for a model output of the function `lmer` of the package `lme4`. I have tried also `ggfortify:::autoplot.lm` applied to the model and did not work any of both options.
It would be great if you could add a method for the class `merMod` (`lmerMod`, `glmerMod`).

Thanks!

[2020-03-02 00:40] FelipeCarrillo opened #199 "how to change the confidence level"
I am trying to change the confidence level but conf.int.value gets ignored. Is there a workaround?
No matter what level I put, it gets ignored.

library(forecast)
library(ggfortify)
d.arima <- auto.arima(AirPassengers)
autoplot(d.arima, predict=predict(d.arima,n.ahead=3),ts.colour = 'blue', predict.colour = 'blue',
         predict.linetype = 'dashed', conf.int = TRUE,conf.int.value=0.99)

[2020-03-03 14:11] terrytangyuan commented on #199
Thanks for filing the issue! Have you observed similar behavior for other arguments as well?

[2020-03-06 20:45] terrytangyuan commented on #197
@hadley I am seeing some mismatches in color here https://cran.r-project.org/web/checks/check_results_ggfortify.html that needs to be corrected by 2020-03-20. For example:
[code]
Is that related to this issue?

[2020-03-21 10:47] tjebo opened #200 "documentation not ideal: autoplot extension for PCA objects"
https://cran.r-project.org/web/packages/ggfortify/vignettes/plot_pca.html

the documentation for the autoplot extension is not ideal. The PCA yields weird results - you need to scale the data set first. That this creates some confusion, was shown [by the recent Stackoverflow thread](https://stackoverflow.com/questions/60758140/similar-xlims-and-ylims-succinctly-in-ggplot2) in which your documentat

[2020-03-21 11:04] tjebo commented on #200
I've created a pull request. It is my first pull request ever and I am not sure if this was the way to go. I edited here on GitHub (god forbid!), and did not even try to re-document everything, so don't know how useful this was.

[2020-03-26 16:36] #200 closed

[2020-05-12 00:19] richierocks opened #202 "autoplot.lm(which = 2) fails when residuals have class AsIs"
### System information
- **R version, OS**: R 4.0.0, macOS
- **ggfortify source**: CRAN
- **ggfortify version**: 0.4.10

### Describe the problem

If the response variable in a linear model created with `lm()` is wrapped in `I()`, then the residuals have type `AsIs`, which causes an error in `autoplot.lm()` when `which = 2`.

### Source code / logs / plots

[code]

![](https://i.imgur.com/Ugr8y3S.

[2020-05-12 00:50] terrytangyuan commented on #202
Thanks for the detailed and reproducible issue! The suggested fix sounds good to me. Would you like to submit a pull request to fix that?

[2020-05-12 16:19] #202 closed

[2020-08-16 01:31] MonicaFialho commented on #199
Hi

I'm having the same issue with the parameter conf.int.type.

autoplot(acf(AirPassengers, plot = FALSE), conf.int.type = 'ma')

returns the following warning message:
Ignoring unknown parameters: conf.int.type

[2020-09-28 00:57] terrytangyuan opened #205 "Travis CI failing"
The current Travis CI is failing due to the following error when installing `forecast`:

[code]

Detailed logs, please see https://travis-ci.org/github/sinhrks/ggfortify/jobs/729529254

cc @robjhyndman in case you've seen something similar. Is there any update on `forecast` that might have caused this?

[2020-10-08 20:55] terrytangyuan commented on #205
Looks like the problem has been resolved by itself.

[2020-10-08 20:55] #205 closed

[2020-10-20 15:23] FelipeCarrillo commented on #199
Any update on this question?

[2020-10-20 18:40] terrytangyuan commented on #199
I haven't got a chance to look into this yet. I'll keep this in mind next time when I work on this but feel free to send a pull request if you find a fix in the meantime!

[2020-10-20 20:34] terrytangyuan commented on #199
@MonicaFialho I am not able to reproduce your issue. `autoplot(acf(AirPassengers, plot = FALSE), conf.int.type = 'ma')` works as expected. Could you try again and share the version of ggfortify and related packages if this is still an issue?

[2020-10-20 21:10] terrytangyuan commented on #199
@FelipeCarrillo Looks like the confidence interval cannot be specified as part of `autoplot()`. Instead, it should be specified in `level` argument as part of `forecast::forecast(level=c(85))`, for example:
[code]
You should be able to see different plots by modifying the confidence levels through `level` argument.

[2020-10-22 04:47] dereksonderegger opened #206 "autoplot.lm() uses deprecated dplyr::arrange_()"
It appears that autoplot.lm() uses deprecated dplyr functions. This is a problem because dplyr is now throwing warnings about this and people using ggfortify on a daily basis for creating diagnostic plots shouldn't think that ggfortify has been abandoned.

In particular lines 132, 136 and 140 in R/fortify_stats_lm.R use this to sort the fortified data by some column, but we can now just specify th

[2020-10-22 05:04] terrytangyuan commented on #206
Thanks for filing this issue and clearly outlining what needs to be changed!

Given that you already looked into this, we would really appreciate it if you could spend time diving into all remaining issues and send PRs to address those.

[2020-10-22 08:59] dereksonderegger commented on #206
Git and I are having disagreements and I can't seem to create a pull request.  :(
I made a repository on my GitHub that has all the changes and I think you'll be able to pull them from there.
https://github.com/dereksonderegger/ggfortify

[2020-10-22 15:38] terrytangyuan commented on #206
@dereksonderegger Looks like @dprat just sent a PR to update the use of `select_()` in https://github.com/sinhrks/ggfortify/pull/207 so you probably want to make sure there's no overlap between your changes.

@dereksonderegger You can follow this instruction to create a pull request from your forked repo: https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-req

[2020-10-22 15:42] terrytangyuan commented on #206
Oh it looks like your created a standalone repo instead of forking this original repo and thus you cannot create a pull request from there. Could you fork the repo instead and migrate the changes to the forked repo? Some instructions: https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/fork-a-repo

[2020-10-23 06:10] dereksonderegger commented on #206
#208
My pull request for this issue is here.

[2020-10-23 07:56] dprat commented on #206
In deed I saw this issue but I assumed that the use of `select_()` had not been changed since it was concerning `arrange()`function. sorry if you already made the modification !

[2020-10-23 18:49] terrytangyuan commented on #206
@dprat No worries! Feel free to submit PRs if you see something missing.

@dereksonderegger Thanks! I'll take a look.

[2020-10-23 23:53] terrytangyuan commented on #206
This has been fixed in #208. Thanks! If you see anything else that needs to be updated/improved, feel free to reach out again or submit PRs directly!

[2020-10-23 23:53] #206 closed

[2020-10-26 12:22] mllg opened #209 "CITATION info wrong/incomplete"
According to the R Journal (https://journal.r-project.org/archive/2016-2/index-bib.html), the citation should include the following information:

[code]

Your citation info is lacking a DOI, only has a URL to the journal page (not the article itself) and incorrectly specifies `issue` instead of `number`.

[2020-10-26 13:11] terrytangyuan commented on #209
Thanks for reporting this! I have submitted a PR to fix this in #210. Please help double check as well.

[2020-10-26 14:14] #209 closed

[2020-10-28 17:33] MonicaFialho commented on #199
@terrytangyuan , I tried again, with ggfortify v0.4.10 and v0.4.11, and the result now is:

Warning message:
In confint.acf(model, ci = conf.int.value, ci.type = conf.int.type) :
  can use ci.type="ma" only if first lag is 0

[2020-10-29 18:09] terrytangyuan commented on #199
@MonicaFialho I guess the issue is that your model does not work with that particular confidence type then as it requires to have first lag that's equal to 0.

[2021-02-09 11:16] alexandra-wall opened #211 "Possible issue adding labels to certain plots"
Hello,

Thanks for your package.

While using the package I noticed the functions `autoplot.density`, `autoplot.aareg`,  do not seem to add axis labels to the plot when given the required arguments.
I tried to re-create the plots using just **ggplot2** functions and came across the same issue so it might be an issue with **ggplot2**, but I wasn't able to narrow it down further.

**ggfortify** vers

[2021-02-09 14:01] terrytangyuan commented on #211
Thanks for reporting! This should be fixed now. Could you try the new version from GitHub?

[2021-02-09 14:07] terrytangyuan commented on #211
Fixed in https://github.com/sinhrks/ggfortify/commit/d3b5c359586b82d94245002f6841bde37ab3c0dd and https://github.com/sinhrks/ggfortify/commit/912ba6d39feb1537b30997632b1d125500c1058d.

[2021-02-09 14:11] alexandra-wall commented on #211
Tested with the new version from GitHub and they are showing up now!

Thank you for such a quick response.

![image](https://user-images.githubusercontent.com/78794328/107375428-a5b12280-6ae0-11eb-9af2-1fc54f5d8942.png)

[2021-02-09 14:14] terrytangyuan commented on #211
Great! Let me know if you find anything else erroneous.

[2021-02-09 14:14] #211 closed

[2021-02-22 10:55] cdiazmun opened #212 "Loadings cutoff option (PCA)"
Hello!

First, thank you for developing the package, it has been very useful.

I actually open an issue to request (if possible) a new feature at plotting the factor loadings in a PCA. There are already nice aesthetic options for the loadings. However, I would be interested on setting a loadings.cutoff option to select the desired ones. When working with PCAs based on many variables (50 in my case

[2021-02-22 18:43] terrytangyuan commented on #212
Could you give an example use of the `loadings.cutoff` option that you are proposing? Would you like to submit a pull request? The related code is currently in this file: https://github.com/sinhrks/ggfortify/blob/master/R/fortify_stats.R

[2021-02-23 09:19] cdiazmun commented on #212
Following the example you use to illustrate your package:
[code]
If you do: `print(prcomp(df))` you get a list with the loadings for the PCA list:

Standard deviations (1, .., p=4):
[1] 2.0562689 0.4926162 0.2796596 0.1543862

Rotation (n x k) = (4 x 4):
                     PC1         PC2         PC3        PC4
Sepal.Length  0.36138659 -0.65658877  0.58202985  0.3154872
Sepal.Width  -0.08452251

[2021-02-24 13:52] terrytangyuan commented on #212
Thank you! This looks very useful indeed. Would you like to submit changes to support this feature?

[2021-02-24 14:02] cdiazmun commented on #212
I'm very sorry, but I'm not very familiar with GitHub, so I actually don't know how to do that. And neither how to submit a pull request, although I have the feeling is the same thing haha.

[2021-02-24 14:06] terrytangyuan commented on #212
Okay great. I won't have time to get to this soon so feel free to give it a try!

[2021-08-02 15:56] KellenBrosnahan opened #214 "Error with autoplot on a survfit object with multiple stratifying variables"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: x86_64-apple-darwin17.0 (64-bit), macOS Catalina 10.15.7
- **ggfortify installed from (e.g. CRAN or Github)**: CRAN
- **ggfortify version**: ggfortify_0.4.12
- **Exact command to reproduce**: sessionInfo()

### Problem
When using `autoplot` on a `survfit` object with multiple stratifying variables, the function r

[2021-08-02 19:19] terrytangyuan commented on #214
Would you like to submit a PR to help fix it?

[2021-08-03 01:38] KellenBrosnahan commented on #214
Hello @terrytangyuan,
    Yes, I would like to do that. However, I'm unfamiliar with the process, and I'm having some trouble. I was able to clone the repo and create a local branch, but when I tried to push the branch with changes (`git push origin autoplotSurvfitMultipleStratification`), I received the following error message:
[code]
Is this the way I'm supposed to be doing things, or am I compl

[2021-08-03 02:14] terrytangyuan commented on #214
Perhaps this might help: https://www.dataschool.io/how-to-contribute-on-github/

[2021-08-06 18:24] #214 closed

[2022-02-14 00:22] petzi53 opened #218 "no x/y labels with ggdistribution plots"
Hello,

with the `ggdistribution()` function x and y labels do not appear.

### Code to reproduce the issue:

[code]

### Plot produced by the code:

![xlab-problem](https://user-images.githubusercontent.com/24394304/153781999-38c76283-7b36-4f84-b56d-1dc7b46b708a.png)

***
### System information
- **OS Platform and Distribution**:macOS Monterey 12.1
- **ggfortify installed from (e.g. CRAN or Githu

[2022-02-14 03:44] terrytangyuan commented on #218
Thanks for reporting this. Have you tried this on older versions of ggplot2?

[2022-02-14 09:45] petzi53 commented on #218
No, I haven't tried it with older versions of ggplot2. Maybe it is a regression? As you can see in an SO post, [it worked several years ago](https://stackoverflow.com/questions/47025907/plotting-multiple-density-distributions-on-one-plot). @alexandra-wall reported [a similar issue last year](https://github.com/sinhrks/ggfortify/issues/211).

[2022-02-14 23:52] terrytangyuan commented on #218
The relevant code looks correct to me https://github.com/sinhrks/ggfortify/blob/912ba6d39feb1537b30997632b1d125500c1058d/R/fortify_stats_density.R#L48-L51

Could you try the following?
[code]

[2022-02-16 08:12] petzi53 commented on #218
It report an error:

[code]

[2022-02-19 20:32] ncep112 opened #219 "ggrepel not working with new version of R and RStudio"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Version 10.15.7
- **ggfortify installed from (e.g. CRAN or Github)**: CRAN
- **ggfortify version**: 0.4.14
- **Exact command to reproduce**: autoplot(prcomp(USArrests), label.repel = TRUE, loadings = TRUE, loadings.label.repel = TRUE)

### Describe the problem
There seems to be a new bug with ggfortify load

[2022-02-24 00:37] #219 closed

[2022-02-24 00:40] terrytangyuan commented on #219
Was the problem solved?

[2022-02-24 00:50] ncep112 commented on #219
A colleague was able to replicate the scripts above without getting the same error, so I assume it's an issue with my computer rather than with ggfortify loadings.label.repel or the new version of R. Thank you for your help in developing and maintaining this tool!

[2022-03-26 10:49] YonghuiDong opened #221 "PCA score results are different"
With autoplot
[code]

![b88e6f30-85c9-47aa-a9c6-025b88bd8442](https://user-images.githubusercontent.com/22663189/160235759-1fff35af-c9bf-4eba-a926-7e01869242d5.png)

Self calculated

[code]

You can see that the variance explained by `PC1` and `PC2` are: **53.53** and **29.96**, respectively, which are very different from the result shown in the above figure.

score plot using ggplot2

[code]
![55

[2022-03-31 06:46] #221 closed

[2022-03-31 12:17] terrytangyuan commented on #221
Is this no longer an issue?

[2022-03-31 13:13] terrytangyuan commented on #221
Great

[2022-04-11 14:24] axjadamson commented on #218
Okay I fixed it and created a pull request.

[2022-04-11 15:16] terrytangyuan commented on #218
Fixed by https://github.com/sinhrks/ggfortify/pull/222. Thanks! @axjadamson

@petzi53 Please try out the GitHub version.

[2022-04-11 15:50] axjadamson commented on #218
No worries! I hope it works okay. xlabs and ylabs can be defined within the ggdistribution function now.

[2022-04-12 07:31] petzi53 commented on #218
The following code now works perfectly:
`ggfortify::ggdistribution(dnorm, seq(-3, 3, 0.1), mean = 0, sd = 1, xlab="x axis", ylab="y axis")`

My former trial where I used the `labs()` function from {ggplot2} still does not work. It does not display "x label" or "y label". But if you use

`p <– ggfortify::ggdistribution(dnorm, seq(-3, 3, 0.1), mean = 0, sd = 1, xlab="x axis", ylab="y axis")`

and th

[2022-04-12 11:39] terrytangyuan commented on #218
@axjadamson Would you like to help take a look at the original use case?

[2022-04-12 12:16] axjadamson commented on #218
I must admit, I only took a quick look at it and could see that some arguments were missing that would allow labels to be specified with the 'ggdistribution' function, so I updated that. I don't have a deeper understanding of why it won't accept further ggplot additions for x and y axis labels. I would guess that it might be something to do with those arguments being renamed within the ggdistribut

[2022-05-02 02:46] linlynn008 commented on #98
You do not need the plot=diagplot as the argument, just use: ggsave ('xplot.jpg')

[2022-05-03 06:00] DarioS opened #223 "Enhancement: Patients At Risk Table Below Survival Plot"
It would be nice if there was a Boolean paramteter to enable it to be drawn. Does Masaaki Horikoshi still work on this package?

[2022-05-03 12:12] terrytangyuan commented on #223
No he's no longer active but I can merge any required changes. Would you like to submit a PR?

[2022-05-04 00:00] DarioS commented on #223
Ah, never mind. I found that [survminer](https://cran.r-project.org/web/packages/survminer/vignettes/Informative_Survival_Plots.html) already does it. I won't spend time "reinventing the wheel" for ggfortify then.

[2022-08-04 22:15] lcmurtaugh opened #224 ""colour" vs "color" when calling autoplot on a PCA"
When I follow your sample code to plot a PCA object, but call `color=` instead of `colour=`, the argument is ignored.

[code]
I think this is the only time I've ever encountered a difference between the American and British spellings.

[code]
![image3](https://user-images.githubusercontent.com/50838183/182957575-7523f964-29da-4d43-8e04-02376754399f.jpg)

[2022-08-05 00:40] terrytangyuan commented on #224
We can add a new argument that are aliases to the existing colour argument. Would you like to submit a PR to contribute?